body,
.container {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0px;
  height: 100%;
  overflow-y: hidden;
  overscroll-behavior: none;
}

body {
  z-index: 1;
}

.container {
  z-index: 2;
}
.text-center {
  text-align: center;
}
.labels {
  width: 300px;
  margin: auto;
}
.labels .label {
  width: 30%;
  display: inline-block;
}
.bottom-info {
  width: 240px;
  margin: auto;
}
.bottom-info .level-info {
  width: 49%;
  display: inline-block;
  text-align: left;
}
.bottom-info .pause-btn {
  width: 49%;
  display: inline-block;
  text-align: right;
}
canvas {
  border: solid 3px black;
}
p {
  margin-top: 0;
  margin-bottom: 5px;
}
body {
  background-image: url("../images/bg.jpg");
}
